[Unit]
Description=FlightGear Kiosk Autostart
# Ensure the service starts after the basic system is up
After=systemd-user-sessions.service plymouth-quit-wait.service


[Service]
# It is best practice to run the simulator as a non-root user
User=flightuser
Group=flightuser

# Set up the environment for Wayland/Cage
Environment=WLR_BACKENDS=headless
Environment=WLR_LIBINPUT_NO_DEVICES=1 

# Launch Cage, which in turn launches FlightGear full-screen
# Change the --aircraft parameter for your different image builds
ExecStart=/usr/bin/cage -- /usr/local/bin/start-simulator.sh --aircraft=F35B --heading=0 --lat=38.78147036665029 --lon=-104.68581950660891

# Automatically restart the simulator if it crashes or someone exits it
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
# Hook this service into the standard boot process
WantedBy=multi-user.target